.elementor-25 .elementor-element.elementor-element-b4327ab>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-b4327ab {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-25 .elementor-element.elementor-element-b4327ab>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-176c145:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-25 .elementor-element.elementor-element-176c145>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(299deg, var( --e-global-color-a13bf13) 22%, #FFFFFF 0%);
}

.elementor-25 .elementor-element.elementor-element-176c145>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-176c145>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-0fa829e .hfe-site-logo-container,
.elementor-25 .elementor-element.elementor-element-0fa829e .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-0fa829e .hfe-site-logo .hfe-site-logo-container img {
    width: 31%;
}

.elementor-25 .elementor-element.elementor-element-0fa829e .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-25 .elementor-element.elementor-element-0fa829e .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-25 .elementor-element.elementor-element-0fa829e>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-25 .elementor-element.elementor-element-fe0a385:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-25 .elementor-element.elementor-element-fe0a385>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-fe0a385>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-fe0a385>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-container {
    height: 44px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-nav-identity-panel {
    padding: 0px 0px 0px 0px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 025px 0px 25px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:hover {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:focus {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:active {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li:hover>a {
    color: var( --e-global-color-96fc3b9);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var( --e-global-color-b338d3e);
    border-radius: 0px 0px 10px 10px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-item>a {
    color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var( --e-global-color-b338d3e);
    border-radius: 0px 0px 10px 10px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li {
    margin: 0px 0px 0px 0px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: #101010;
    fill: #101010;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
    color: #101010;
    fill: #101010;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    padding: 15px 15px 15px 15px;
    color: #000000;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: #707070;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: #707070;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: #707070;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: #707070;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: #707070 !important;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger {
    float: right;
    background-color: var( --e-global-color-b338d3e);
    border-style: solid;
    border-color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger>.ekit-menu-icon {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger:hover {
    background-color: var( --e-global-color-a13bf13);
    border-style: solid;
    border-color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-close {
    background-color: var( --e-global-color-a13bf13);
    border-style: solid;
    border-color: var( --e-global-color-277324c);
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-close:hover {
    background-color: var( --e-global-color-b338d3e);
    color: var( --e-global-color-96fc3b9);
}

.elementor-25 .elementor-element.elementor-element-3b92a2d {
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-a11ba1f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-a11ba1f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-a11ba1f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-25 .elementor-element.elementor-element-a11ba1f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-a11ba1f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-a11ba1f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_navsearch-button {
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_navsearch-button svg {
    max-width: 20px;
}

.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_navsearch-button,
.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_search-button i {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_navsearch-button svg path,
.elementor-25 .elementor-element.elementor-element-323bb13 .ekit_search-button svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-323bb13>.elementor-widget-container {
    margin: 15% 0% 0% 0%;
}

.elementor-25 .elementor-element.elementor-element-66c2498:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-25 .elementor-element.elementor-element-66c2498>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(119deg, var( --e-global-color-a13bf13) 21%, var( --e-global-color-b338d3e) 0%);
}

.elementor-25 .elementor-element.elementor-element-66c2498>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-66c2498>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-a9dd64c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-a9dd64c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-99ae1fc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-99ae1fc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-99ae1fc.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-25 .elementor-element.elementor-element-99ae1fc>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-25 .elementor-element.elementor-element-99ae1fc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-b338d3e);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-framed .elementor-icon,
.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-default .elementor-icon {
    color: var( --e-global-color-b338d3e);
    border-color: var( --e-global-color-b338d3e);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-framed .elementor-icon,
.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-b338d3e);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-framed .elementor-icon:hover,
.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-default .elementor-icon:hover {
    color: var( --e-global-color-a13bf13);
    border-color: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-framed .elementor-icon:hover,
.elementor-25 .elementor-element.elementor-element-3e7e7a7.elementor-view-default .elementor-icon:hover svg {
    fill: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7 .elementor-icon {
    font-size: 35px;
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7 .elementor-icon svg {
    height: 35px;
}

.elementor-25 .elementor-element.elementor-element-3e7e7a7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 14px 14px 14px 14px;
    background-color: #FFFFFF;
    border-radius: 1000px 1000px 1000px 1000px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-5375ca2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-5375ca2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-5375ca2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-5375ca2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-a5e774b .elementskit-section-title-wraper .elementskit-section-title {
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-25 .elementor-element.elementor-element-a5e774b .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-25 .elementor-element.elementor-element-a5e774b .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-25 .elementor-element.elementor-element-a5e774b .elementskit-section-title-wraper .elementskit-section-subtitle {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-d05b4e1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-d05b4e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-d05b4e1>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-25 .elementor-element.elementor-element-1f43459 .ekit-btn-wraper {
    text-align: left;
}

.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn {
    padding: 20px 20px 20px 20px;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var( --e-global-color-a13bf13);
    background-color: #FFFFFF;
    border-style: none;
}

.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn svg path {
    stroke: var( --e-global-color-a13bf13);
    fill: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn:hover {
    color: #ffffff;
    background-color: var( --e-global-color-a13bf13);
}

.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn:hover svg path {
    stroke: #ffffff;
    fill: #ffffff;
}

.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn>i,
.elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn>svg {
    margin-right: 5px;
}

.rtl .elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn>i,
.rtl .elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn>svg {
    margin-left: 5px;
    margin-right: 0;
}

.elementor-25 .elementor-element.elementor-element-4350bc2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-25 .elementor-element.elementor-element-4350bc2:not(.elementor-motion-effects-element-type-background),
.elementor-25 .elementor-element.elementor-element-4350bc2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-b338d3e);
}

.elementor-25 .elementor-element.elementor-element-4350bc2 {
    border-style: solid;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-4350bc2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-title {
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-subtitle {
    color: var( --e-global-color-a13bf13);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-25 .elementor-element.elementor-element-086ef83 .ekit-btn-wraper {
    text-align: left;
}

.elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn {
    padding: 20px 20px 20px 20px;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: var( --e-global-color-a13bf13);
    border-style: none;
}

.elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn:hover {
    color: var( --e-global-color-b338d3e);
    background-color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn:hover svg path {
    stroke: var( --e-global-color-b338d3e);
    fill: var( --e-global-color-b338d3e);
}

.elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn>i,
.elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn>svg {
    margin-right: 5px;
}

.rtl .elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn>i,
.rtl .elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn>svg {
    margin-left: 5px;
    margin-right: 0;
}

@media(max-width:1024px) {
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a {
        color: #000000;
        padding: 10px 15px 10px 15px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 15px 15px 15px 15px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
}

@media(max-width:767px) {
    .elementor-25 .elementor-element.elementor-element-176c145 {
        width: 70%;
    }
    .elementor-25 .elementor-element.elementor-element-0fa829e .hfe-site-logo-container,
    .elementor-25 .elementor-element.elementor-element-0fa829e .hfe-caption-width figcaption {
        text-align: left;
    }
    .elementor-25 .elementor-element.elementor-element-0fa829e .hfe-site-logo .hfe-site-logo-container img {
        width: 41%;
    }
    .elementor-25 .elementor-element.elementor-element-0fa829e>.elementor-widget-container {
        padding: 0% 0% 0% 10%;
    }
    .elementor-25 .elementor-element.elementor-element-fe0a385 {
        width: 30%;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-container {
        background-color: #FFFFFF;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a {
        color: var( --e-global-color-a13bf13);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:hover {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:focus {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:active {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li:hover>a {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-item>a {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: var( --e-global-color-b338d3e);
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-navbar-nav>li {
        margin: 12px 182px 0px 20px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-menu-hamburger {
        float: left;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d .elementskit-nav-logo>img {
        max-width: 130px;
        max-height: 200px;
    }
    .elementor-25 .elementor-element.elementor-element-3b92a2d>.elementor-widget-container {
        margin: 0% 0% 0% 22%;
    }
    .elementor-25 .elementor-element.elementor-element-a11ba1f {
        width: 30%;
    }
    .elementor-25 .elementor-element.elementor-element-3e7e7a7 .elementor-icon-wrapper {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-5375ca2 {
        width: 50%;
    }
    .elementor-25 .elementor-element.elementor-element-d05b4e1 {
        width: 50%;
    }
    .elementor-25 .elementor-element.elementor-element-1f43459 .ekit-btn-wraper {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-1f43459 .elementskit-btn {
        padding: 15px 15px 15px 15px;
    }
    .elementor-25 .elementor-element.elementor-element-4350bc2 {
        border-width: 1px 0px 0px 0px;
        margin-top: -3px;
        margin-bottom: 0px;
        padding: 1% 0% 1% 0%;
    }
    .elementor-25 .elementor-element.elementor-element-0dc15e6 {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-0dc15e6.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-25 .elementor-element.elementor-element-0dc15e6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-25 .elementor-element.elementor-element-0dc15e6.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: 18px;
    }
    .elementor-25 .elementor-element.elementor-element-bf71838 .elementskit-section-title-wraper .elementskit-section-subtitle {
        color: #FFFFFF;
    }
    .elementor-25 .elementor-element.elementor-element-bf71838>.elementor-widget-container {
        padding: 14px 0px 0px 0px;
    }
    .elementor-25 .elementor-element.elementor-element-ae31bd6 {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-25 .elementor-element.elementor-element-ae31bd6.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-25 .elementor-element.elementor-element-ae31bd6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-25 .elementor-element.elementor-element-ae31bd6>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-25 .elementor-element.elementor-element-086ef83 .ekit-btn-wraper {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-086ef83 .elementskit-btn {
        padding: 15px 15px 15px 15px;
    }
}

@media(min-width:768px) {
    .elementor-25 .elementor-element.elementor-element-fe0a385 {
        width: 37.862%;
    }
    .elementor-25 .elementor-element.elementor-element-a11ba1f {
        width: 4.512%;
    }
    .elementor-25 .elementor-element.elementor-element-66c2498 {
        width: 32.606%;
    }
    .elementor-25 .elementor-element.elementor-element-99ae1fc {
        width: 23.414%;
    }
    .elementor-25 .elementor-element.elementor-element-5375ca2 {
        width: 38.478%;
    }
    .elementor-25 .elementor-element.elementor-element-d05b4e1 {
        width: 37.689%;
    }
}